## Fiorilli Creds
FIORILLI_URL=https://pompeu-pm-sip.sigmix.net/sip/ 

# Ahgora Creds
AHGORA_URL=https://auth.ahgora.com.br/#/login

# PostgreSQL database credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=your_db

# Database URL for the API
# Format: postgresql+asyncpg://user:password@host:port/dbname
DATABASE_URL=postgresql+asyncpg://postgres:your_secure_password_here@db:5432/fiogora

ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme123
SECRET_KEY=b39dc1fdb917c0df61bb8160abdfdffc9641d401340156d9be72aa0639d67119

# Host User ID and Group ID to map volume permissions correctly (Optional)
# HOST_UID=1000
# HOST_GID=1000

# Automation
HEADLESS_MODE='True'
HEADLESS_MODE_TASKS='True'
USE_CACHED_FILES='True'
UPDATE_LOCATIONS='False'
