services:
  db:
    image: postgres:16-alpine
    container_name: fiogora_db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "127.0.0.1:5432:5432" # Bind only to localhost for security
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER:-postgres} -d $${POSTGRES_DB:-fiogora}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      args:
        UID: ${HOST_UID:-1000}
        GID: ${HOST_GID:-1000}
    container_name: fiogora_api
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    command: bash -c "sleep 3 && uv run alembic upgrade head && uv run uvicorn app.main:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
    shm_size: '2gb'
    environment:
      - MOZ_HEADLESS=1
      - MOZ_DISABLE_CONTENT_SANDBOX=1
      - HEADLESS_MODE=True
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./downloads:/app/downloads
    networks:
      - app_network

volumes:
  pgdata:


networks:
  app_network:
    driver: bridge
