name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Set up Python
      run: uv python install

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Build with Make
      run: |
        make build
      shell: cmd

    - name: Zip the Build
      run: |
        powershell Compress-Archive -Path "dist/integracao-fiorilli-ahgora" -DestinationPath "integracao-fiorilli-ahgora.zip"

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: integracao-fiorilli-ahgora.zip
        generate_release_notes: true
